body {
  padding-left: 5%;
  padding-right: 5%;
  background-color: #27272A; 
  color: #E6FEFF;
}

@media (min-width: 961px) {
  body {
    padding-left: 5%;
  }
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 3%;
}

a {
  color: #A7F3D0;
}
a:hover {
  color: #34D399;
}

li:not(:last-child) {
  margin-bottom: 7px;
}

.superimportantnoticebro {
  margin-top: 3%;
  color: #FDA4AF;
}

.cool-color {
	color: #A7F3D0;
}

