body {
  background-color: rgb(39 39 42); 
  color: rgb(236 254 255);
}

@media (min-width: 961px) {
  body {
    padding-left: 5%;
  }
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 3%;
}

a {
  color: rgb(167 243 208);
}
a:hover {
  color: rgb(52 211 153);
}

li:not(:last-child) {
  margin-bottom: 7px;
}

.superimportantnoticebro {
  color: rgb(253 164 175);
  margin-top: 10%;
}
