@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/FiraSans-Light.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 200;
  src: url('fonts/FiraSans-LightItalic.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/FiraSans-Regular.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/FiraSans-Italic.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/FiraSans-SemiBold.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/FiraSans-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/FiraSans-Bold.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/FiraSans-BoldItalic.ttf') format('truetype');
}

body {
  font-family: "Fira Sans";
  font-weight: 400;
  font-size: 0.85em;
  padding-left: 1%;
  padding-right: 5%;
  background-color: #27272A; 
  color: #E6FEFF;
}

@media (min-width: 961px) {
  body {
    padding-left: 5%;
    font-size: 1em;
  }
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 3%;
}

a {
  color: #A7F3D0;
}
a:hover {
  color: #34D399;
}

li:not(:last-child) {
  margin-bottom: 7px;
}

.superimportantnoticebro {
  margin-top: 3%;
  color: #FDA4AF;
}

.cool-color {
	color: #A7F3D0;
}

blockquote {
  background: #141416;
  border-left: 10px solid #0b0b0b;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

table thead td {
	font-weight: bold;
}

table td {
	padding: 0.5rem 0.4em;
}
.commit-col {
  padding-right: 0;
}
@media only screen and (max-width: 600px) {
  .commit-col {
    padding-right: 1em;
  }
}

#index tr td:nth-child(2) {
	white-space: normal;
}

td.num {
	text-align: right;
}

#repo-table-body tr:hover td,
#files-table-body tr:hover td {
	background-color: #4d4d53;
}

em {
  font-family: 'Fira Sans';
  font-weight: 200;
  font-style: italic;
}
.blog {
  line-height: 1.50;
}

@media (max-width: 800px) {
  #projects-table-body {
    font-size: 0.70em;
  }
}
