.hljs-operator { color: #d19a66; }
.hljs-punctuation { color: #abb2bf; }
.hljs-attr { color: #56b6c2; }
.hljs-variable { color: #56b6c2; }
.hljs-function { color: #61afef; }
.hljs-property { color: #c678dd; }
.hljs-title.function { color: #98c379; font-weight: bold; }
.hljs-interface { color: #e5c07b; font-weight: bold; }
